.calculadora {
   max-width: 250px;
   align-items: center;
   display: grid;
}


.fila-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.fila-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.fila-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.fila-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.fila-5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}